:root{
    --main-bg-color: #1C1E28;
    --second-bg-color:#191921;
    --main-text-color: #fff;
    --second-text-color: #61DAFB;
}

*{
    font-family: 'Kanit', sans-serif;
}

#fundo{
    background-color: var(--main-bg-color);
}

.center{
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header, header{
    width: 20rem;
    height: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 1vh;
}

.inputs{
    max-width: 16rem;
    
}

#user{
    color: var(--main-text-color);
    font-size: 1.1rem;

    background-color: #252A36;
    padding: .65rem;

    border-radius: .75vh;
}

.inputUser input{
    border: none;
    border-radius: 1vh;

    outline: none;
    padding: .45rem;

    background: #252A36;
    color: var(--main-text-color);
}

.inputUser input::placeholder{
    color: var(--main-text-color);
    font-size: .85rem;
}

.inputUser{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .45rem;

    margin: 1rem 0;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .15rem;
}

.button span{
    color: var(--main-text-color);

    font-size: .85rem;
}

.button a{
    font-size: .85rem;
    text-decoration: none;
}

.button a:hover{
    text-decoration: underline;
}

.logo h1 {
    color: var(--second-text-color);
    font-size: 2.6rem;
}

footer{
    color: var(--main-text-color);
    background-color: var(--second-bg-color);

    width: 100%;

    position: absolute;
    bottom: 1px;
    text-align: center;
}

.all{
    display: flex;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    gap: 2rem;
    background-color: var(--second-bg-color);
}

@media (max-width: 780px){
    .fundo{
        display: none;
    }
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--second-bg-color);
}
.topoDentro{
    display: flex;
    align-items: center;

    margin: 0 2rem;

}

.topoDentro i{
    font-size: 2.6rem;
    color: var(--second-text-color);
}




